	<div class="row">


  			<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="jumbotron" id="chatJumbo">
            <div class="allChatContainer">
              <div class="jumbotron" id="jumboChatBackground">
								<div>
                  {{#each messages}}
										<div id="chatJumboColor">
                      <button class="btn btn-primary" onclick='openRateModal({{this.senderID}}, "{{this.screenName}}")' id="screenName">{{this.screenName}}</button>


                      <p class="message">{{this.message}}</p>

                    </div>
                    {{/each}}
									</div>

  						<div id="chatHistory">
  					</div>
					</div>
				</div>	

							
								<div class="col-lg-12">

                                    <textarea id="message" class="typeSearch"></textarea>
                                    <input id="topicIDVal"  type="hidden" class="form-control"  value="{{topicID}}">
                                    <input id="clientIDVal" type="hidden" class="form-control"   value="{{clientID}}">
                                    
                                    <input id="userIDVal" type="hidden" class="form-control" value="{{userID}}">
                                    <input id="screennameVal" type="hidden" class="form-control" value="{{screenName}}">

                                    
                                    <input id="sendChat" type="button" class="btn btn-danger" name="submitMessageButton" value="SEND">

                                            <!--<form action="/sendChat" method="POST">
                                                <textarea  name="message" class="typeSearch"></textarea>

                                                <input type ="hidden" class="form-control" name="topicID" value="{{topicID}}">

                                                <input type ="hidden" class="form-control" name="clientID" value="{{clientID}}">

                                                <button type="submit" class="btn btn-danger" id="sendChat">SEND</button>
                                            </form>-->

								</div>
						    </div>
  			</div>
	</div>

           


<script>


    $(document).ready(function () {
        $("#sendChat").on("click", function () {
            
            var chatmessage = $('#message').val();
            var topicid = $('#topicIDVal').val();
            var connectionid = $('#clientIDVal').val();
            var screenname = $('#screennameVal').val();
            var senderid = $('#userIDVal').val();
            

            $.post("http://echoingwallapiservice.azurewebsites.net/get/topic/subscribetotopic/", { topicID: topicid, connectionID: ConnectionID },
            function (data) {
                    
                $.post("http://echoingwallapiservice.azurewebsites.net/save/chat/", { message: chatmessage, senderID: senderid, messageTopicID: topicid, screenName: screenname, clientID: ConnectionID },
                  function (data) {

                  });

            });
          
        })
    })

</script>