  <div class="container-fluid" id="jumboContainer">
  		{{!--<div class="row">--}}
{{#each userEchoes}}
  			<div class="col-lg-6 col-md-6 col-sm-6">
  				<div class="jumbotron">
            <div class="textGrouped">
              <h4>{{this.topicName}}</h4>
              <p>{{this.topicDescription}}
          
              
        

              </p>
              </div>


  			
  		
               <form action="/startChat" method="POST">
              <input type ="hidden" name="topicID" value="{{this.topicID}}">
              <button type="submit" class="btn btn-lg" >JOIN</button>
             </form>

              <div class="date">{{this.chatUpdatedAt}}</div>
           
	</div>
  				</div>
  
        {{!--<form action="/startChat" method="POST">
              <input type ="hidden" name="topicID" value="{{this.TopicID}}">
              <button type="submit" class="btn btn-lg" >JOIN</button>
              </form>--}}
{{/each}}

  			{{!--</div>--}}

  		</div>
  