
  		<div class="row">

  		{{#each topics}}
  			<div class="col-lg-6 col-md-6 col-sm-6">
  				<div>
            <div class="textGrouped">

              <h4>{{this.topicName}}</h4>
              <p>{{this.topicDescription}}
              <a href="" class="readMore">Read More</a>

             <form action="/startChat" method="POST">

            <input type ="hidden" name="topicID" value="{{this.TopicID}}">
            {{!--{{#each userProfile}}
             <input type ="hidden" name="connectionID" value={{this.ConnectionID}}>
            {{/each}}--}}
             <input type ="hidden" name="connectionID" value={{this.connectionID}}>

            <button type="submit" class="btn btn-default">JOIN</button>
          </form>


              </p>
              <div class="date">{{this.chatUpdatedAt}}</div>
            </div>

  				</div>
  			</div>
{{/each}}
  			</div>
